
/* background: */
progress::-webkit-progress-bar {background-color: #463f3a; width: 100%;}
progress {background-color: #463f3a;}

/* value: */
progress::-webkit-progress-value {background-color: #e0afa0 !important;}
progress::-moz-progress-bar {background-color: #e0afa0 !important;}
progress {color: #e0afa0;}