:root {
  --primary-color: #463f3a;
  --gray1: #8a817c;
  --gray2: #e5e5e5;
  --gray3: #f4f3ee;
  --pink: #e0afa0;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  padding: 5%;
}

.App_header {
  font-size: 69px;
  line-height: 94px;
  color: var(--gray3);
}

button {
  background-color: var(--gray1);
  height: 30px;
  width: 110px;
  border-radius: 10px;
  border: 2px solid var(--pink);
  color: var(--pink);
  font-size: 16px;
}

button:hover {
  background-color: var(--pink);
  color: var(--primary-color);
  cursor: pointer;
}

button:disabled {
  opacity: 0.33;
}

input {
  width: 139px;
  height: 40px;
  background: var(--gray2);
  border: 2px solid var(--pink);
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--primary-color);
  padding: 10px;
  margin: 5px;
}

input:disabled {
  opacity: 0.33;
}
