:root {
  --primary-color: #463f3a;
  --gray1: #8a817c;
  --gray2: #e5e5e5;
  --gray3: #f4f3ee;
  --pink: #e0afa0;
  --error: #EE4C73;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  padding: 5%;
}

.App_header {
  font-size: 69px;
  line-height: 94px;
  color: var(--gray3);
}

