.App {
  text-align: center;
  background-color: #463f3a;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  padding: 5%;
}

.App_header {
  font-size: 69px;
  line-height: 94px;
  color: #f4f3ee;
}

button {
  background-color: #8a817c;
  height: 30px;
  width: 110px;
  border-radius: 10px;
  border: 2px solid #e0afa0;
  color: #e0afa0;
  font-size: 16px;
}

button:hover {
  background-color: #e0afa0;
  color: #463f3a;
  cursor: pointer;
}

input {
  width: 139px;
  height: 40px;
  background: #e5e5e5;
  border: 2px solid #e0afa0;
  box-sizing: border-box;
  border-radius: 10px;
  color: #463f3a;
  padding: 10px;
  margin: 5px;
}
